{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Company</h1>
</div>
<div class="container">
    <div class="col-lg-6">
        <div class="card m-b-30">
            <div class="card-body py-5">
                <form id="companyForm"   method="post">
                    <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="p-1">Name:</th>
                                        <td class="p-1"><input id="name" type="text" name="name" style="border-color: #96d3ec;" value="{{ company.name }}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Description:</th>
                                        <td class="p-1"><input id="description" type="text" name="description" value="{{ company.description }}"></td>
                                    </tr>
                                 <tr>
                                        <th scope="row" class="p-1">Sphere:</th>
                                        <td class="p-1"><select name="sphere" id="sphere">
                                                <option disabled>Choose</option>

                                                 <option value="IT">IT</option>
                                                    <option value="Banks">Banks</option>
                                                     <option value="Logistic">Logistic</option>

                                            </select>
                                        </td>
                                    </tr>
                                 <tr>
                                        <th scope="row" class="p-1">Email:</th>
                                        <td class="p-1"><input id="email" type="text" name="email" value="{{ company.email }}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                <input type="submit" class="btn btn-primary btn-user" value="Change company">
            </form>
            </div>
        </div>
    </div>
</div>
                {% block javascript %}
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
              <script>
                  $(document).ready(function () {
                      // отслеживаем событие отправки формы
                      $('#companyForm').submit(function () {
                          // создаем AJAX-вызов
                          $.ajax({
                              data: $(this).serialize(), // получаем данные формы
                              type: $(this).attr('method'), // GET или POST
                              url: "{% url 'change_company' company.id %}",
                              // если успешно, то
                              success: function (response) {
                                  alert("Added " + response.name);
                              },
                              // если ошибка, то
                              error: function (response) {
                                  // предупредим об ошибке
                                  alert(response.responseJSON.errors);
                                  console.log(response.responseJSON.errors)
                              }
                          });
                          return false;
                      });
                  })
              </script>
            {% endblock javascript %}

                 </div>
        </div>
    </div>
    </div>
{% endblock content %}