{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>
<div class="container">
    <div class="col-lg-6">
        <div class="card m-b-30">
            <div class="card-body py-5">
                <form id="projectForm" method="post">
                     <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="p-1">Name:</th>
                                      <td class="p-1"><input id="name" type="text" name="name" value="{{ project.name }}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Description:</th>
                                      <td class="p-1"><input id="description" type="text" name="description" value="{{ project.description}}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Client:</th>
                                      <td class="p-1"><input id="company" type="text" name="description" value="{{ project.company.name }}" disabled="disabled"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

    <input type="submit" class="btn btn-primary btn-user" value="OK">
</form>
            </div>
        </div>
    </div>
</div>
    {% block javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
      $(document).ready(function () {
          // отслеживаем событие отправки формы
          $('#projectForm').submit(function () {
              // создаем AJAX-вызов
              $.ajax({
                  data: $(this).serialize(), // получаем данные формы
                  type: $(this).attr('method'), // GET или POST
                  url: "{% url 'projects_change' project.id %}",
                  // если успешно, то
                  success: function (response) {
                      alert("Added " + response.name);
                  },
                  // если ошибка, то
                  error: function (response) {
                      // предупредим об ошибке
                      alert(response.responseJSON.errors);
                      console.log(response.responseJSON.errors)
                  }
              });
              return false;
          });
      })
  </script>
{% endblock javascript %}

     </div>
{% endblock content %}