{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">


                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

                    </div>
    <form id="taskForm" method="POST">


        <label for="status" >Status: </label>
         <select name="status" id="status">
                <option disabled>Choose</option>

                <option value="New">New</option>
                <option value="InProgress">In progress</option>
                <option value="Done">Done</option>

            </select>
        </br>

      <label for="name">Description: </label>
           <input id="name" type="text" name="name" value="{{ task.name }}" disabled="disabled">

        </br>
          <label for="executor">Executor: </label>
           <input id="executor" type="text" name="executor" value="{{ task.executor.first_name }} {{ task.executor.last_name }}" disabled="disabled">

        </br>

       <label for="priority">Priority: </label>
           <input id="priority" type="text" name="priority" value="{{ task.priority }}" disabled="disabled">

        </br>
        <label for="type_task">Type task: </label>
           <input id="type_task" type="text" name="type_task" value="{{ task.type_task }}" disabled="disabled">

        </br>

         <label for="dead_line">Dead line: </label>
        <input id="dead_line" type="text" format="yyyy-mm-dd" name="dead_line" value="{{ task.dead_line }}" disabled="disabled">
        </br>
         <label for="coast">Coast: </label>
        <input id="coast" type="text" name="coast" value="{{ task.coast }}" disabled="disabled">
        </br>

         <label for="project">coast: </label>
        <input id="project" type="text" name="project" value="{{ task.project.name }}" disabled="disabled">
        </br>

       <label for="customer">Customer: </label>
        <input id="customer" type="text" name="customer" value="{{ task.customer.first_name }} {{ task.customer.last_name }}" disabled="disabled">
        </br>
        </br>

    <input type="submit" value="OK">
</form>
    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
      $(document).ready(function () {
          // отслеживаем событие отправки формы
          $('#taskForm').submit(function () {
              // создаем AJAX-вызов
              $.ajax({
                  data: $(this).serialize(), // получаем данные формы
                  type: $(this).attr('method'), // GET или POST
                  url: "{% url 'change_status' task.id %}",
                  // если успешно, то
                  success: function (response) {
                      alert("Added " + response.name);
                  },
                  // если ошибка, то
                  error: function (response) {
                      // предупредим об ошибке
                      alert(response.responseJSON.errors);
                      console.log(response.responseJSON.errors)
                  }
              });
              return false;
          });
      })
  </script>
{% endblock javascript %}

     </div>
{% endblock content %}