{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">


                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Create task</h1>

                    </div>
<div class="col-lg-4">
        <div class="card-box">
               <p class="text-muted m-b-30 font-13"></p>
                     <form id="taskForm" method="POST">

                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="p-1">Status:</th>
                                        <td class="p-1">
                                            <select name="status" id="status">
                                                <option disabled>Choose</option>
                                                <option value="New">New</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Description:</th>
                                        <td class="p-1">
                                             <input id="name" type="text" name="name" value="{{ name }}">
                                        </td>
                                    </tr>
                                     <tr>
                                        <th scope="row" class="p-1">Executor:</th>
                                        <td class="p-1">
                                             <select name="executor" id="executor">
                                                        <option disabled>Choose</option>
                                                        {% for executor in executors %}
                                                        <option value="{{executor.id}}">{{executor.first_name}} {{executor.last_name}}</option>
                                                         {% endfor %}
                                                    </select>
                                        </td>
                                    </tr>
                                     <tr>
                                        <th scope="row" class="p-1">Priority:</th>
                                        <td class="p-1">
                                             <select name="priority" id="priority">
                                                    <option disabled>Choose</option>
                                                    <option value="LP">low priority</option>
                                                    <option value="MP">medium priority</option>
                                                    <option value="HP">high priority</option>
                                                </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Type task:</th>
                                        <td class="p-1">
                                            <select  name="type_task" id="type_task">
                                              <option disabled>Choose</option>
                                                <option value="Software">software</option>
                                                <option value="Information">information</option>
                                                <option value="Consulting">consulting</option>
                                                <option value="Product">product</option>
                                                </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Dead line:</th>
                                        <td class="p-1">
                                            <input id="dead_line" type="date" format="yyyy-mm-dd" name="dead_line" value="{{ dead_line }}">
                                        </td>
                                    </tr>
                                     <tr>
                                        <th scope="row" class="p-1">Coast:</th>
                                        <td class="p-1">
                                            <input id="coast" type="text" name="coast" value="{{ coast }}">
                                        </td>
                                    </tr>
                                     <tr>
                                        <th scope="row" class="p-1">Project:</th>
                                        <td class="p-1">
                                             <select name="project" id="project">
                                                    <option disabled>Choose</option>
                                                    {% for project in projects %}
                                                    <option value="{{project.id}}">{{project.name}}</option>
                                                     {% endfor %}
                                                </select>
                                        </td>
                                    </tr>
                                <tr>
                                        <th scope="row" class="p-1">Customer:</th>
                                        <td class="p-1">
                                            <select name="customer" id="customer">
                                                <option disabled>Choose</option>
                                                {% for customer in customers %}
                                                <option value="{{customer.id}}">{{customer.first_name}} {{customer.last_name}}</option>
                                                 {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                     </tbody>
                            </table>
                        </div>
    <input type="submit" class="btn btn-primary btn-user" value="Create task">
</form>
         </div>
        </div>
    </div>
</div>
    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
      $(document).ready(function () {
          // отслеживаем событие отправки формы
          $('#taskForm').submit(function () {
              // создаем AJAX-вызов
              $.ajax({
                  data: $(this).serialize(), // получаем данные формы
                  type: $(this).attr('method'), // GET или POST
                  url: "{% url 'add_task' %}",
                  // если успешно, то
                  success: function (response) {
                      alert("Added " + response.name);
                  },
                  // если ошибка, то
                  error: function (response) {
                      // предупредим об ошибке
                      alert(response.responseJSON.errors);
                      console.log(response.responseJSON.errors)
                  }
              });
              return false;
          });
      })
  </script>
{% endblock javascript %}

     </div>
             </div>
      </div>
{% endblock content %}