{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">


                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Create client</h1>
                    </div>
<div class="container">
    <div class="col-lg-6">
        <div class="card m-b-30">
            <div class="card-body py-5">
                <form id="clientForm"  enctype="multipart/form-data" method="post">
                <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="p-1">First Name:</th>
                                        <td class="p-1"><input id="first_name" type="text" name="first_name" value="{{ first_name }}"></td>
                                    </tr>
                                     <tr>
                                        <th scope="row" class="p-1">Last Name:</th>
                                        <td class="p-1"><input id="last_name" type="text" name="last_name" value="{{ last_name }}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Phone:</th>
                                        <td class="p-1"><input id="phone" type="text" name="phone" value="{{ phone }}"></td>
                                    </tr>
                                     <tr>
                                        <th scope="row" class="p-1">Email:</th>
                                        <td class="p-1"><input id="email" type="text" name="email" value="{{ email }}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Position:</th>
                                        <td class="p-1"><input id="position" type="text" name="position" value="{{ position }}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Company:</th>
                                        <td class="p-1"><select name="company" id="company">
                                            <option disabled>Choose</option>
                                            {% for company in companies %}
                                             <option value="{{ company.id }}">{{ company.name }}</option>
                                               {% endfor %}

                                         </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Sex:</th>
                                        <td class="p-1"><select name="sex" id="sex">
                                                <option disabled>Choose</option>
                                                   <option value="M">Male</option>
                                                    <option value="F">Female</option>
                                                    <option value="O">Other</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Choose photo:</th>
                                        <td class="p-1"> <input type="file" name="profile_image" for="profile_image"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
    <input type="submit" class="btn btn-primary btn-user" value="Create client">
</form>
            </div>
        </div>
    </div>
</div>
    {% block javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
      $(document).ready(function () {
          // отслеживаем событие отправки формы
          $('#clientForm').submit(function () {
              // создаем AJAX-вызов
              $.ajax({
                  data: $(this).serialize(), // получаем данные формы
                  type: $(this).attr('method'), // GET или POST
                  url: "{% url 'add_client' %}",
                  // если успешно, то
                  success: function (response) {
                      alert("Added " + response.name);
                  },
                  // если ошибка, то
                  error: function (response) {
                      // предупредим об ошибке
                      alert(response.responseJSON.errors);
                      console.log(response.responseJSON.errors)
                  }
              });
              return false;
          });
      })
  </script>
{% endblock javascript %}

     </div>
{% endblock content %}