{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">


                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

                    </div>


<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card-box">
                    <div class="row ml-1">
                        <h4 class="text-dark header-title">Upcoming</h4>
                    <a href="{% url 'add_task' %}" class="btn btn-custom waves-effect waves-light"><i class="fa fa-plus-circle"></i></a>

                    </div>
                    {% for task in tasks %}
                    {% if task.status == 'New' %}
                    <p class="text-muted m-b-30 font-13"></p>
                    <ul class="sortable-list taskList list-unstyled ui-sortable" id="upcoming">
                        <li class="task-warning ui-sortable-handle" id="task1">
                            <div class="checkbox checkbox-custom checkbox-single float-right">
                                <input type="checkbox" aria-label="Single checkbox Two">
                                <label></label>
                            </div><b>{{task.name}}</b>
                             <div class="clearfix">{{task.type_task}}</div>
                            {% if task.priority == 'LP' %}
                                <div class="clearfix">Low priority</div>
                            {% elif task.priority == 'MP' %}
                                <div class="clearfix">Medium priority</div>
                            {% elif task.priority == 'HP' %}
                                <div class="clearfix">High priority</div>
                            {% endif %}
                            {{task.dead_line}}<br>
                            ${{task.coast}}<br>


                            <div class="mt-3">
                                <p class="float-right mb-0 mt-2">
                                    <a href="{% url 'change_status' task.id %}" class=" btn btn-success btn-xs">Change status</a>
                                </p>
                                <p class="mb-0">
                                    <a href="" class="text-muted"><img src="{{task.executor.profile.profile_image.url}}" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">{{task.executor.profile.user.first_name}} {{task.executor.profile.user.last_name}}</span></a>
                                </p>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-box">
                     <div class="row ml-1">
                        <h4 class="text-dark header-title">In Progress</h4>
                    <a href="#" class="btn btn-custom waves-effect waves-light"><i class="fa fa-plus-circle"></i></a>

                    </div>
                    {% for task in tasks %}
                    {% if task.status == 'InProgress' %}
                    <p class="text-muted m-b-30 font-13"></p>
                    <ul class="sortable-list taskList list-unstyled ui-sortable" id="inprogress">
                        <li id="task9" class="ui-sortable-handle">
                            <div class="checkbox checkbox-custom checkbox-single float-right">
                                <input type="checkbox" aria-label="Single checkbox Two">
                                <label></label>
                            </div><b>{{task.name}}</b>
                             <div class="clearfix">{{task.type_task}}</div>
                            {% if task.priority == 'LP' %}
                                <div class="clearfix">Low priority</div>
                            {% elif task.priority == 'MP' %}
                                <div class="clearfix">Medium priority</div>
                            {% elif task.priority == 'HP' %}
                                <div class="clearfix">High priority</div>
                            {% endif %}
                            {{task.dead_line}}<br>
                            ${{task.coast}}<br>

                            <div class="mt-3">
                                <p class="float-right mb-0 mt-2">
                                    <a href="{% url 'change_status' task.id %}" class=" btn btn-success btn-xs">Change status</a>
                                </p>
                                <p class="mb-0">
                                    <a href="" class="text-muted"><img src="{{task.executor.profile.profile_image.url}}" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">{{task.executor.profile.user.first_name}} {{task.executor.profile.user.last_name}}</span></a>
                                </p>
                            </div>
                        </li>
                    </ul>
            {% endif %}
                    {% endfor %}
                </div>
                </div>
            <div class="col-lg-4">
                <div class="card-box">
                     <div class="row ml-1">
                        <h4 class="text-dark header-title">Completed</h4>
                         <a href="#" class="btn btn-custom waves-effect waves-light"><i class="fa fa-plus-circle"></i></a>
                    </div>
                     {% for task in tasks %}
                    {% if task.status == 'Done' %}
                    <p class="text-muted m-b-30 font-13"></p>
                    <ul class="sortable-list taskList list-unstyled ui-sortable" id="completed">
                        <li class="task-warning ui-sortable-handle" id="task14">
                            <div class="checkbox checkbox-custom checkbox-single float-right">
                                <input type="checkbox" aria-label="Single checkbox Two">
                                <label></label>
                            </div><b>{{task.name}}</b>
                             <div class="clearfix">{{task.type_task}}</div>
                            {% if task.priority == 'LP' %}
                                <div class="clearfix">Low priority</div>
                            {% elif task.priority == 'MP' %}
                                <div class="clearfix">Medium priority</div>
                            {% elif task.priority == 'HP' %}
                                <div class="clearfix">High priority</div>
                            {% endif %}
                            {{task.dead_line}}<br>
                            ${{task.coast}}<br>

                            <div class="mt-3">
                                <p class="float-right mb-0 mt-2">
                                    <a href="{% url 'change_status' task.id %}" class=" btn btn-success btn-xs">Change status</a>
                                </p>
                                <p class="mb-0">
                                    <a href="" class="text-muted"><img src="{{task.executor.profile.profile_image.url}}" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">{{task.executor.profile.user.first_name}} {{task.executor.profile.user.last_name}}</span></a>
                                </p>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                    {% endfor %}
                     </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
</div>
    </div>

{% endblock content %}
